name: Build Wheels ON OSX

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Configure
      env:
        PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}    
    - name: Build wheels
      run: |
        ./build_wheels_linux.sh
